<h1>ExerciseTypes#show</h1>
<p>Find me in app/views/exercise_types/show.html.erb</p>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise_types.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exercise_types.created_at %>
</p>


<%= link_to 'Back', exercise_type_path %>
